{% extends 'registration_base.html' %}
<head>
    <title>Document</title>
</head>
    {% block content %}  
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                {% endfor %}  
            </ul>   
        {% endif %}  
        
        <h1>Register Here - JavaTpoint Blog</h1>  
    
            <form action="" method="POST">  
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit">Registrar</button>
            </form>  
        </div>  
    
    {% endblock content %}