/* Se importa el font 'Ubuntu' - 'Playwrite Italia Moderna' de Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.font {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
} 

.font-nav {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    color: black;
}

.nav-font {
    font-size: 1.5rem !important;
    color: #e3d7bf !important;
}

.nav-button {
    background-color: #e3d7bf !important;
    color: black !important;
    font-size: 1rem !important;
}

.nav-button-login {
    background-color: rgb(27, 27, 27) !important;
    color: #e3d7bf !important;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 60%;
}

#bd-color-background {
    background-color: #efcead !important;
}

.nav-background {
    background-color: #8c6653;
}

.logo-nav {
    height: 80px;
    width: 80px;
}

