{% extends 'registration_base.html' %}
{% block content %}

    <title>{% block title %}El Comilon - Inicio{% endblock %}</title>

    {% if user.is_authenticated %}
        <div></div>
        <h1>ESTE ES CLIENTES HOME</h1>
        Hi {{ user.username }}!
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <div>{% include 'components/navbar_notloged.html' %}</div>
        <h1>ESTE ES CLIENTES HOME</h1>
        <p>You are not logged in</p>
    {% endif %}

{% endblock %}