{% extends 'registration_base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/clientes_home.css' %}">
    <title>{% block title %}El Comilon - Inicio{% endblock %}</title>
</head>
    <div>{% include 'components/navbar_loged.html' %}</div>
    <div class="container">
        <br>
        <div class="mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{% static 'images/Inicio1.jpg' %}" class="d-block w-100 img-fluid" alt="">
                </div>
                <div class="col-md-9">
                    <div class="container font-justify">
                        <div class="card-body">
                        <h1 class="font-title fs-2 lh-lg">¿Que Ofrecemos?</h1>
                        <p class="card-text fs-4 lh-base">El restaurante El Comilón, parte integral de la empresa de Alimentos Santiago, es el epicentro de nuestra pasión por la comida casera y de calidad. Con una ubicación privilegiada en el centro de la ciudad, ofrecemos un ambiente acogedor donde nuestros clientes pueden disfrutar de platos elaborados con ingredientes frescos y preparados con el cuidado y la dedicación que caracterizan a nuestros servicios de comida a domicilio. Desde nuestro local, no solo preparamos y servimos deliciosos platos en un ambiente cómodo y familiar, sino que también facilitamos pedidos a través de nuestro servicio telefónico y garantizamos entregas a domicilio puntualmente, asegurando que cada cliente disfrute de una experiencia gastronómica memorable, ya sea en nuestro restaurante o en la comodidad de su hogar.</p>
                        <p class="fs-4 lh-base"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    
{% endblock %}